body{
    background-color: black;
}

.main{
    border: 2px solid;
    width: 22%;
    margin: 0 auto;
    min-height:90vh;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;

}

.mine{
    border: 2px solid;
    width: 22%;
    margin: 0 auto;
    min-height:70vh;
    background-color: rgb(41, 52, 73);;
    margin-top: 10px;
    border-radius: 10px;
}
.major{
    border: 2px solid;
    width: 22%;
    margin: 0 auto;
    min-height:90vh;
    background-color: rgb(41, 52, 73);
    margin-top: 10px;
    border-radius: 10px;
}

.major>div:first-of-type{
    font-size: 30px;
    padding-left: 30px;
    padding-top: 30px;
    
}

.main>div:first-of-type{
    font-size: 70px;
    padding-left: 30px;
    padding-top: 30px;
   
}

.mine>div:first-of-type{
    font-size: 30px;
    padding-left: 30px;
    padding-top: 30px;
}

.header{
   
    padding-left: 2em;
}

.header2 h1{
    padding-left: 1em;
    color:white;
}

.header3{
    display:flex;
    flex-direction: row;
}

.header3 h1{
    padding-left: 1em;
    color:white;
}

.motion{
    display: flex;
    margin: right 0px;;
}

.flint{
    display: flex;
    align-items: center;
}

.flint h5{
    padding-left: 1rem;
    padding-top: 1rem;
    color: rgba(255, 255, 255, 0.572);
}

.border{
    display: flex;
    align-items: center;
    justify-content: center;
    border:4px solid white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 50px;
    color: white;
    
}

.heading{
    padding-left: 2em;
    align-items: center;
    display: flex;
    flex-direction:row ;
}

.major h6{
    margin:0 auto;
    text-align: center;
    color:white;
    margin-top: 10px;
    text-decoration: none;
}

.major h6:hover{
    color:rgb(218, 31, 80);
}

a{
    text-decoration: none;
}



.main h6{
    color:black;
    
}

.main>div:last-of-type>h6 span:hover{
    color:rgb(218, 31, 80);
}


.major span{
    color: white;
}

.main h6{
    text-decoration: none;
}

.button{
    
    width:240px;
    height:40px;
    /* margin-left: 2em; */
    border-radius: 24px;
   margin-top: 130px;
    justify-content: center;
    border:none;
    outline: none;
    background-color: rgb(227, 140, 18);
    
}

.button:hover{
    color:white;
    background-color: rgb(218, 31, 80);
}



.major>div:nth-of-type(4){
    display: flex;
    justify-content: center;
}

.major>div:nth-of-type(5){
    display: flex;
    justify-content: center;
    color:white;
}

.major>div:nth-of-type(5)>h5 span:hover{
    color:rgb(218, 31, 80);
   
}

.mine>div:nth-of-type(5){
    margin-top: 0em;
    display: flex;
    justify-content: center;
}

.mine>div:nth-of-type(6){
    display: flex;
    justify-content: center;
    color:white
}

.mine>div:nth-of-type(6)>h6 span{
    color: white;
}

.mine>div:nth-of-type(6)>h6 span:hover{
    color:rgb(218, 31, 80);
    
}




.button2{
    width:240px;
    height:40px;
    /* margin-left: 2em; */
    border-radius: 24px;
   margin-top: 130px;
    justify-content: center;
    border:none;
    outline:none;
}

.button2:hover{
    background-color:rgb(218, 31, 80);
    color: white;
}

.main>div:nth-of-type(3){
    display: flex;
    justify-content: center;
}

.main>div:nth-of-type(4){
    display: flex;
    justify-content: center;
}



.input{
    display: flex;
    flex-direction:column;
    align-items: center;
    color:white;
    
    
    
}

.input div{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgba(255, 255, 255, 0.349);
    margin-top:15px;
}

.input div>span{
    display:flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    
}

input{

    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    
    
}
/* .input2{
    margin-top: 1em;
    margin-bottom: none; 
    
}
*/

.input2 input{
    
    width: 250px;
    height: 30px;
    background-color: transparent;
    border-bottom: 1px solid #fffefea8;
    margin-left: 3em;
    
    
}

.input2 label:last-of-type{
    margin-top: 1em;

} 

label{
    margin-left: 2.5em;
    color:white;
   

}